*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
@font-face {
    font-family: yekan;
    src: url(font/vazir-font-v16.1.0/Vazir-Bold.ttf);
}
body{background-color: bisque;}
body{text-align: center;}
h1 {color: blue;}
p {
  color: blue;
  font-size: 20px;
  padding: 15px;
  }
.photo {
    position: absolute;
    top: 50px;
    left: 8px;
       }
.mycontainer{
    display: flex;
    font-family: yekan;
}
.box1{
    border: 2px solid bisque;
}
.box2{
    border: 2px solid bisque;
}
